example_5.json
{
  "name": "example_5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -272
      ],
      "id": "458cb950-2d26-472e-b692-68308851baad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -272
      ],
      "id": "8f7b4daa-8677-4f6d-a6da-77b66f7056f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f510220-1882-4af5-8744-594c8107ce90",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "429099a6-929b-4a03-bf4d-58924c80afdf",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "5152a573-5586-4c17-ab9c-2977c82efe46",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "bbd0ce54-be81-40e7-b25a-cde98628ee70",
              "name": "city",
              "value": "={{ $json.address.city }}",
              "type": "string"
            },
            {
              "id": "db969ea2-d319-4151-a5de-6b17b58f2278",
              "name": "zipcode",
              "value": "={{ $json.address.zipcode }}",
              "type": "string"
            },
            {
              "id": "221b3618-556a-4833-ab7e-c0ab2e922976",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "acb07683-ba11-4839-af02-47a895656131",
              "name": "company_name",
              "value": "={{ $json.company.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -272
      ],
      "id": "bc1ecde1-6a3a-4ea0-ac01-f3e76cd87862",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4",
          "mode": "list",
          "cachedResultName": "EX1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2035053316,
          "mode": "list",
          "cachedResultName": "b",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4/edit#gid=2035053316"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "username": "={{ $json.username }}",
            "city": "={{ $json.city }}",
            "zipcode": "={{ $json.zipcode }}",
            "phone": "={{ $json.phone }}",
            "company_name": "={{ $json.company_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1296,
        -400
      ],
      "id": "98e0a80a-9852-4227-8199-03937d2d3eb5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lUtSRUO8TsLIVwKu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4",
          "mode": "list",
          "cachedResultName": "EX1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1657575398,
          "mode": "list",
          "cachedResultName": "f",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4/edit#gid=1657575398"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "username": "={{ $json.username }}",
            "city": "={{ $json.city }}",
            "zipcode": "={{ $json.zipcode }}",
            "phone": "={{ $json.phone }}",
            "company_name": "={{ $json.company_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1296,
        -224
      ],
      "id": "0e2e234c-d909-449f-8383-8e63aa1d0371",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lUtSRUO8TsLIVwKu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "b",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f8e19ff2-7f58-40a4-acdb-c031de6bf471"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db65b71b-d80f-428c-b087-10652243e355",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "f",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e99bd20-ae7f-4387-98ce-64c891e7bc4e",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "l",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        992,
        -288
      ],
      "id": "0282efe3-c517-498b-aa3c-41280b26d399",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4",
          "mode": "list",
          "cachedResultName": "EX1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1295456912,
          "mode": "list",
          "cachedResultName": "l",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8ETp4x5CJOFyC-kZfFBW_N7fbtH_oX669YsSliWnQ4/edit#gid=1295456912"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "username": "={{ $json.username }}",
            "city": "={{ $json.city }}",
            "zipcode": "={{ $json.zipcode }}",
            "phone": "={{ $json.phone }}",
            "company_name": "={{ $json.company_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1296,
        -16
      ],
      "id": "6e653b8d-0114-496b-b761-d5c29d0e5b36",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lUtSRUO8TsLIVwKu",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "050b4014-25fb-4a66-87d9-fb9ccf0ed214",
  "meta": {
    "instanceId": "66235ae0eb71c273aca0cc5acf3ccdb21565024bfcec4845400c7da6a7702aec"
  },
  "id": "1QHHlm2QpN9BoOvP",
  "tags": []
}